@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #81a69b;
  background-image: url(http://pets-images.dev-apis.com/pets/wallpaperB.jpg);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.search-params {
  width: 1100px;
  margin: 0 auto;
}

.search-params form {
  border-radius: 6px;
  background: #faeff0;
  box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
  width: 360px;
  margin: 0px 25px 0px 0px;
  padding: 35px 15px 15px 15px;
  float: left;
}

.search {
  border-radius: 6px;
  background: #faeff0;
  box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
  width: 715px;
  padding: 15px;
  float: left;
  margin-bottom: 25px;
}

.details {
  width: 1100px;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 6px;
  background: #faeff0;
  box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
}

.pet {
  width: 100%;
  height: 130px;
  display: block;
  overflow: hidden;
  margin: 25px 0;
  border-bottom: #333 2px solid;
}

.pet img {
  width: 100px;
  min-height: 100px;
}

.info {
  float: left;
  width: 80%;
  height: 100px;
  padding-top: 10px;
  flex-direction: column;
  justify-content: space-around;
}

.image-container {
  clip-path: circle(50% at 50% 50%);
  width: 100px;
  height: 100px;
  float: left;
  margin: 0px 20px 0px 10px;
}

.pet h1 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 30px;
  color: #333;
  width: 95%;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
}

header > a,
#root > div > h1 {
  display: inline-block;
  background-image: url(http://static.frontendmasters.com/resources/2019-05-02-complete-intro-react-v5/image-logo.png);
  filter: brightness(150%);
  width: 279px;
  height: 76px;
  overflow: hidden;
  text-indent: -9999px;
  margin: 20px 0;
}

.pet h2 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  text-overflow: ellipsis;
}

header a {
  color: #333;
  font-size: 3px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding-bottom: 10px;
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 1100px;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
}

.details p {
  line-height: 1.5;
  padding: 0px 15px;
}

.details h1 {
  text-align: center;
  color: #333;
  font-size: 60px;
  margin: 5px 0px;
}

.details h2 {
  text-align: center;
  margin: 5px 0px 20px 0px;
}

.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  margin-top: 8px;
}

.carousel > img {
  max-width: 45%;
  max-height: 400px;
}

.carousel-smaller {
  width: 50%;
}

.carousel-smaller > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  border: 2px solid #333;
}

.carousel-smaller > img.active {
  border-color: #333;
  opacity: 0.6;
}

.search-params label {
  display: block;
  width: 60px;
}

.search-params input,
.search-params select {
  margin-bottom: 30px;
  font-size: 18px;
  height: 30px;
  width: 325px;
}

.search-params button,
#modal button,
#modal a,
.details button {
  background-color: #ad343e;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#modal a {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
}

.search-params button:hover {
  background-color: #122622;
}

.search-params button:active {
  background-color: #5f1d22;
}

.search-params button:focus {
  border: 1px solid cornflowerblue;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  background: #faeff0;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}

@media only screen and (max-width: 1129px) {
  header {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
  }

  .search-params {
    width: 95%;
  }

  .search-params form {
    margin-bottom: 20px;
  }

  .search {
    width: 55%;
    padding: 15px;
    border-radius: 9px;
    float: left;
    margin-bottom: 25px;
  }

  .details {
    width: 95%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 9px;
    margin-bottom: 25px;
  }

  .info {
    width: 65%;
  }

  .info h1 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info h2 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (max-width: 945px) {
  .search-params {
    width: 95%;
  }

  .search {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .pet {
    height: 200px;
  }

  .info {
    width: 100%;
    text-align: center;
  }

  .image-container {
    margin: 0 auto;
    float: none;
  }
  .carousel-smaller > img {
    width: 60px;
    height: 60px;
  }
}

.loading-pane {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
}

form .pet {
  float: unset;
  margin: 0 auto;
}

.loader {
  font-size: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.mini.loading-pane {
  height: 34px;
}

.mini .loader {
  font-size: 34px;
} */

* {
  @apply box-border text-[#333];
}
body {
  @apply m-0 bg-[#81a69b] bg-[url(http://pets-images.dev-apis.com/pets/wallpaperB.jpg)];
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* .search-params {
  @apply mx-auto my-0 w-[1100px];
}
.search-params form {
  @apply float-left my-0 ml-0 mr-[25px] w-[360px] rounded-md px-[15px] pb-[15px] pt-[35px] shadow-[0px_0px_12px_#aaa,-0px_-0px_12px_#fff];
  background: #faeff0;
}
.search {
  @apply float-left mb-[25px] w-[715px] rounded-md p-[15px] shadow-[0px_0px_12px_#aaa,-0px_-0px_12px_#fff];
  background: #faeff0;
}
.details {
  @apply mx-auto my-0 mb-[25px] w-[1100px] rounded-md p-[15px] shadow-[0px_0px_12px_#aaa,-0px_-0px_12px_#fff];
  background: #faeff0;
}
.pet {
  @apply mx-0 my-[25px] block h-[130px] w-full overflow-hidden border-b-[#333] border-b-[solid];
}
.pet img {
  @apply min-h-[100px] w-[100px];
}
.info {
  @apply float-left h-[100px] w-4/5 flex-col justify-around pt-2.5;
}
.image-container {
  @apply float-left my-0 ml-2.5 mr-5 h-[100px] w-[100px];
  clip-path: circle(50% at 50% 50%);
}
.pet h1 {
  @apply m-0 w-[95%] overflow-hidden text-ellipsis whitespace-nowrap font-[normal] text-3xl text-[#333];
}

#root > div > h1 {
  @apply mx-0 my-5 inline-block h-[76px] w-[279px] overflow-hidden bg-[url(http://static.frontendmasters.com/resources/2019-05-02-complete-intro-react-v5/image-logo.png)] indent-[-9999px] brightness-[150%];
}
.pet h2 {
  @apply m-0 text-ellipsis whitespace-nowrap font-[normal] text-xl;
}
.details p {
  @apply px-[15px] py-0 leading-normal;
}
.details h1 {
  @apply mx-0 my-[5px] text-center text-6xl text-[#333];
}
.details h2 {
  @apply mx-0 mb-5 mt-[5px] text-center;
}
.carousel {
  @apply mt-2 flex h-[400px] items-center justify-around;
}
.carousel > img {
  @apply max-h-[400px] max-w-[45%];
}
.carousel-smaller {
  @apply w-6/12;
}
.carousel-smaller > img {
  @apply m-[15px] inline-block h-[100px] w-[100px] cursor-pointer rounded-[50%] border-2 border-solid border-[#333];
}
.carousel-smaller > img.active {
  @apply border-[#333] opacity-60;
}
.search-params label {
  @apply block w-[60px];
}
.search-params input,
.search-params select {
  @apply mb-[30px] h-[30px] w-[325px] text-lg;
}
.search-params button,
#modal button,
#modal a,
.details button {
  @apply mx-auto my-0 block cursor-pointer rounded-[5px] border-[#333] border-[solid] bg-[#ad343e] px-[25px] py-[5px] text-lg text-[white];
}
#modal a {
  @apply mr-[15px] inline-block no-underline;
}
.search-params button:hover {
  @apply bg-[#122622];
}
.search-params button:active {
  @apply bg-[#5f1d22];
}
.search-params button:focus {
  @apply border border-solid border-[cornflowerblue];
}
#modal {
  @apply fixed inset-0 z-10 flex items-center justify-center bg-[rgba(0,0,0,0.9)] empty:hidden;
}
#modal > div {
  @apply max-w-[500px] rounded-[30px] bg-[white] p-[15px] text-center;
  background: #faeff0;
}
#modal .buttons button {
  @apply mr-[15px] inline-block;
}
@media only screen and (max-width: 1129px) {
  header {
    @apply mx-auto my-0 flex w-[95%] content-center justify-center px-0 pb-0 pt-5;
  }
  .search-params {
    @apply w-[95%];
  }
  .search-params form {
    @apply mb-5;
  }
  .search {
    @apply float-left mb-[25px] w-[55%] rounded-[9px] p-[15px];
  }
  .details {
    @apply mx-auto my-0 mb-[25px] w-[95%] rounded-[9px] p-[15px];
  }
  .info {
    @apply w-[65%];
  }
  .info h1 {
    @apply w-full overflow-hidden text-ellipsis whitespace-nowrap;
  }
  .info h2 {
    @apply w-full overflow-hidden text-ellipsis whitespace-nowrap;
  }
}
@media only screen and (max-width: 945px) {
  .search-params {
    @apply w-[95%];
  }
  .search {
    @apply w-full;
  }
}
@media only screen and (max-width: 600px) {
  .pet {
    @apply h-[200px];
  }
  .info {
    @apply w-full text-center;
  }
  .image-container {
    @apply float-none mx-auto my-0;
  }
  .carousel-smaller > img {
    @apply h-[60px] w-[60px];
  }
}
.loading-pane {
  @apply flex items-center justify-center p-[15px];
}
form .pet {
  @apply mx-auto my-0;
  float: unset;
}
.loader {
  @apply animate-spin text-[100px];
}
.mini.loading-pane {
  @apply h-[34px];
}
.mini .loader {
  @apply text-[34px];
} */
