@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #81a69b;
  background-image: url(http://pets-images.dev-apis.com/pets/wallpaperB.jpg);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.search-params {
  width: 1100px;
  margin: 0 auto;
}

.search-params form {
  border-radius: 6px;
  background: #faeff0;
  box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
  width: 360px;
  margin: 0px 25px 0px 0px;
  padding: 35px 15px 15px 15px;
  float: left;
}

.search {
  border-radius: 6px;
  background: #faeff0;
  box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
  width: 715px;
  padding: 15px;
  float: left;
  margin-bottom: 25px;
}

.details {
  width: 1100px;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 6px;
  background: #faeff0;
  box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
}

.pet {
  width: 100%;
  height: 130px;
  display: block;
  overflow: hidden;
  margin: 25px 0;
  border-bottom: #333 2px solid;
}

.pet img {
  width: 100px;
  min-height: 100px;
}

.info {
  float: left;
  width: 80%;
  height: 100px;
  padding-top: 10px;
  flex-direction: column;
  justify-content: space-around;
}

.image-container {
  clip-path: circle(50% at 50% 50%);
  width: 100px;
  height: 100px;
  float: left;
  margin: 0px 20px 0px 10px;
}

.pet h1 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 30px;
  color: #333;
  width: 95%;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
}

header > a,
#root > div > h1 {
  display: inline-block;
  background-image: url(http://static.frontendmasters.com/resources/2019-05-02-complete-intro-react-v5/image-logo.png);
  filter: brightness(150%);
  width: 279px;
  height: 76px;
  overflow: hidden;
  text-indent: -9999px;
  margin: 20px 0;
}

.pet h2 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  text-overflow: ellipsis;
}

header a {
  color: #333;
  font-size: 3px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding-bottom: 10px;
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 1100px;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
}

.details p {
  line-height: 1.5;
  padding: 0px 15px;
}

.details h1 {
  text-align: center;
  color: #333;
  font-size: 60px;
  margin: 5px 0px;
}

.details h2 {
  text-align: center;
  margin: 5px 0px 20px 0px;
}

.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  margin-top: 8px;
}

.carousel > img {
  max-width: 45%;
  max-height: 400px;
}

.carousel-smaller {
  width: 50%;
}

.carousel-smaller > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  border: 2px solid #333;
}

.carousel-smaller > img.active {
  border-color: #333;
  opacity: 0.6;
}

.search-params label {
  display: block;
  width: 60px;
}

.search-params input,
.search-params select {
  margin-bottom: 30px;
  font-size: 18px;
  height: 30px;
  width: 325px;
}

.search-params button,
#modal button,
#modal a,
.details button {
  background-color: #ad343e;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#modal a {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
}

.search-params button:hover {
  background-color: #122622;
}

.search-params button:active {
  background-color: #5f1d22;
}

.search-params button:focus {
  border: 1px solid cornflowerblue;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  background: #faeff0;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}

@media only screen and (max-width: 1129px) {
  header {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
  }

  .search-params {
    width: 95%;
  }

  .search-params form {
    margin-bottom: 20px;
  }

  .search {
    width: 55%;
    padding: 15px;
    border-radius: 9px;
    float: left;
    margin-bottom: 25px;
  }

  .details {
    width: 95%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 9px;
    margin-bottom: 25px;
  }

  .info {
    width: 65%;
  }

  .info h1 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info h2 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (max-width: 945px) {
  .search-params {
    width: 95%;
  }

  .search {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .pet {
    height: 200px;
  }

  .info {
    width: 100%;
    text-align: center;
  }

  .image-container {
    margin: 0 auto;
    float: none;
  }
  .carousel-smaller > img {
    width: 60px;
    height: 60px;
  }
}

.loading-pane {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
}

form .pet {
  float: unset;
  margin: 0 auto;
}

.loader {
  font-size: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.mini.loading-pane {
  height: 34px;
}

.mini .loader {
  font-size: 34px;
} */

* {
  @apply box-border text-[#333];
}
body {
  @apply bg-[#81a69b] bg-[url(http://pets-images.dev-apis.com/pets/wallpaperB.jpg)] m-0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.search-params {
  @apply w-[1100px] mx-auto my-0;
}
.search-params form {
  @apply shadow-[0px_0px_12px_#aaa,-0px_-0px_12px_#fff] w-[360px] float-left ml-0 mr-[25px] my-0 pt-[35px] pb-[15px] px-[15px] rounded-md;
  background: #faeff0;
}
.search {
  @apply shadow-[0px_0px_12px_#aaa,-0px_-0px_12px_#fff] w-[715px] float-left mb-[25px] p-[15px] rounded-md;
  background: #faeff0;
}
.details {
  @apply w-[1100px] shadow-[0px_0px_12px_#aaa,-0px_-0px_12px_#fff] mb-[25px] mx-auto my-0 p-[15px] rounded-md;
  background: #faeff0;
}
.pet {
  @apply w-full h-[130px] block overflow-hidden mx-0 my-[25px] border-b-[#333] border-b-[solid];
}
.pet img {
  @apply w-[100px] min-h-[100px];
}
.info {
  @apply float-left w-4/5 h-[100px] flex-col justify-around pt-2.5;
}
.image-container {
  @apply w-[100px] h-[100px] float-left ml-2.5 mr-5 my-0;
  clip-path: circle(50% at 50% 50%);
}
.pet h1 {
  @apply whitespace-nowrap font-[normal] text-3xl text-[#333] w-[95%] overflow-hidden text-ellipsis m-0;
}
header > a,
#root > div > h1 {
  @apply inline-block bg-[url(http://static.frontendmasters.com/resources/2019-05-02-complete-intro-react-v5/image-logo.png)] brightness-[150%] w-[279px] h-[76px] overflow-hidden indent-[-9999px] mx-0 my-5;
}
.pet h2 {
  @apply whitespace-nowrap font-[normal] text-xl text-ellipsis m-0;
}
header a {
  @apply text-[#333] text-[3px] no-underline font-[bold] block pb-2.5;
}
header {
  @apply flex content-center justify-center w-[1100px] mx-auto my-0 pt-5 pb-0 px-0;
}
.details p {
  @apply leading-normal px-[15px] py-0;
}
.details h1 {
  @apply text-center text-[#333] text-6xl mx-0 my-[5px];
}
.details h2 {
  @apply text-center mt-[5px] mb-5 mx-0;
}
.carousel {
  @apply flex justify-around items-center h-[400px] mt-2;
}
.carousel > img {
  @apply max-w-[45%] max-h-[400px];
}
.carousel-smaller {
  @apply w-6/12;
}
.carousel-smaller > img {
  @apply w-[100px] h-[100px] inline-block cursor-pointer m-[15px] rounded-[50%] border-2 border-solid border-[#333];
}
.carousel-smaller > img.active {
  @apply opacity-60 border-[#333];
}
.search-params label {
  @apply block w-[60px];
}
.search-params input,
.search-params select {
  @apply text-lg h-[30px] w-[325px] mb-[30px];
}
.search-params button,
#modal button,
#modal a,
.details button {
  @apply bg-[#ad343e] text-[white] text-lg block cursor-pointer mx-auto my-0 px-[25px] py-[5px] rounded-[5px] border-[#333] border-[solid];
}
#modal a {
  @apply inline-block no-underline mr-[15px];
}
.search-params button:hover {
  @apply bg-[#122622];
}
.search-params button:active {
  @apply bg-[#5f1d22];
}
.search-params button:focus {
  @apply border border-solid border-[cornflowerblue];
}
#modal {
  @apply bg-[rgba(0,0,0,0.9)] fixed z-10 flex justify-center items-center inset-0 empty:hidden;
}
#modal > div {
  @apply bg-[white] max-w-[500px] text-center p-[15px] rounded-[30px];
  background: #faeff0;
}
#modal .buttons button {
  @apply inline-block mr-[15px];
}
@media only screen and (max-width: 1129px) {
  header {
    @apply flex content-center justify-center w-[95%] mx-auto my-0 pt-5 pb-0 px-0;
  }
  .search-params {
    @apply w-[95%];
  }
  .search-params form {
    @apply mb-5;
  }
  .search {
    @apply w-[55%] float-left mb-[25px] p-[15px] rounded-[9px];
  }
  .details {
    @apply w-[95%] mb-[25px] mx-auto my-0 p-[15px] rounded-[9px];
  }
  .info {
    @apply w-[65%];
  }
  .info h1 {
    @apply w-full whitespace-nowrap overflow-hidden text-ellipsis;
  }
  .info h2 {
    @apply w-full whitespace-nowrap overflow-hidden text-ellipsis;
  }
}
@media only screen and (max-width: 945px) {
  .search-params {
    @apply w-[95%];
  }
  .search {
    @apply w-full;
  }
}
@media only screen and (max-width: 600px) {
  .pet {
    @apply h-[200px];
  }
  .info {
    @apply w-full text-center;
  }
  .image-container {
    @apply float-none mx-auto my-0;
  }
  .carousel-smaller > img {
    @apply w-[60px] h-[60px];
  }
}
.loading-pane {
  @apply items-center justify-center flex p-[15px];
}
form .pet {
  @apply mx-auto my-0;
  float: unset;
}
.loader {
  @apply text-[100px] animate-spin;
}
@keyframes spin {
  to {
    @apply rotate-[360deg];
  }
}
.mini.loading-pane {
  @apply h-[34px];
}
.mini .loader {
  @apply text-[34px];
}
